# Ignore system files
.bash_history
.condarc
.gitconfig
.DS_Store

# Ignore Docker-related files
*.lock
docker/*

# Ignore logs
*.log

# Ignore Conda environments
environments.txt

#ignore .env file
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore Python bytecode
__pycache__/

# model checkpoints & exports
model/*
*.pth
*.npy

# Ignore local files
local/
original_texts/